body {
  height: 100vh;
  gap: 1rem;
  flex-direction: column;
}
h1:hover {
  color: #ff013c;
  cursor: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  gap: 1rem;
  flex-wrap: wrap;
}
button {
  cursor: pointer;
}

/* Glitch Button */
.btn-glitch,
.btn-glitch:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-glitch:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "ALTERNATE TEXT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}
.btn-glitch:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@media (min-width: 768px) {
  .btn-glitch,
  .btn-glitch:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

/* Button Crush Effect */

.btn-crush {
  border: none;
  width: 140px;
  height: 90px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: #000;
  position: relative;
}

.btn-crush p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.btn-crush::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: #ff013c;
  transition: 0.2s ease;
}

.btn-crush::before {
  position: absolute;
  content: "";
  /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
  /*   bottom:; */
  z-index: -1;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: #ff013c;
}

.btn-crush:hover::after {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 80%;
}

.btn-crush:hover::before {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 80%;
}

/* POPPING BUTTON */

.btn-popping {
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 100px;
  height: 32px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
}

.btn-popping:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #ff013c;
  transform: skewX(-41deg);
}

.btn-popping:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #ff013c;
  transform: skewY(-49deg);
}

.btn-popping span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff013c;
  color: #fff;
  font-size: 25px;
  transition: 1.1s ease-out;
}

.btn-popping:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
}

.btn-popping:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.btn-popping:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.btn-popping:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.btn-popping:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.btn-popping:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

.btn-popping:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.btn-popping:active span:nth-child(4) {
  transform: translate(15px, -15px);
}

.btn-popping:active span:nth-child(3) {
  transform: translate(10px, -10px);
}

.btn-popping:active span:nth-child(2) {
  transform: translate(5px, -5px);
}

.btn-popping:active span:nth-child(1) {
  transform: translate(0px, 0px);
}

.btn-popping:nth-child(1):hover span {
  background: #52e19f;
}

/*  */
.btn-hover {
  padding: 0.8em 1.8em;
  border: 2px solid #ff013c;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #ff013c;
}

.btn-hover::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ff013c;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn-hover:hover::before {
  width: 105%;
}

.btn-hover:hover {
  color: #ffff;
}
