figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}

figure img {
  width: 350px;
  height: 500px;
}

figure figcaption {
  display: grid;
  align-items: end;
  font: bold 2.3rem sans-serif;
  color: #ffffff;
  padding: 0.75rem;
  background: var(--c, rgba(19, 18, 18, 0.808));
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}

figure:hover figcaption {
  --_i: 0%;
}

figure:hover img {
  transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  background: #425a52;
}
